@use './variables' as *;
@use 'vuetify/styles' with (
  $body-font-family: $font-family,
  $font-size-root: 16px,
  $colors: (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'accent': $accent-color,
    'error': $error-color,
    'info': $info-color,
    'success': $success-color,
    'warning': $warning-color,
  ),
);

body {
  font-family: $font-family;
  font-weight: $body-font-weight;
  color: $font-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
